:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196F3;
    --primary-white-color:#ffffff;
    --footer-text: rgba(255, 255, 255, 0.6);
    --color-icons:  #AFB1B8;
    --bg-button: #F5F4FA;
    --bg-footer: #2F303A;
    --bg-team-section: #F5F4FA;
    --bg-icons: rgba(255, 255, 255, 0.1);
    --bg-modal: rgba(0, 0, 0, 0.25);
    --bg-label: rgba(47, 48, 58, 0.8);
    --bg-overlay: rgba(33, 150, 243, 0.9);;
    --border-header: 1px solid #ececec;
    --border-image: #EEEEEE;
    --border-clients: #AFB1B8;
    --card-set: 30px;
    --card-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    --page-nav-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    --work-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    --animation-dur: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

body {
    color:var(--primary-text-color);
    background-color: var(--primary-white-color);
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.03em;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

.container {
    width: 1200px;
    padding: 0 15px;
    margin-left: auto;
    margin-right: auto;
}

.page-header {
    border-bottom: var(--border-header);
}

/* Main nav */

.main-nav {
    display: flex;
    align-items: center;
}

/* Logo */

.logo {
    padding-top: 24px;
    padding-bottom: 25px;

    color: var(--title-text-color);
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
}


.logo-title {
   color: var(--accent-color) ;
}

/* Site nav */

.site-nav.list {
    display: flex;
    margin-left: 93px;
}

.site-nav .item + .item { 
    margin-left: 50px;
  }

/* .site-nav .item:not(:last-child) {
    margin-right: 50px;
} */

.site-nav .link {
    position: relative;
    display: flex;
    align-items: center;
    padding-top: 32px;
    padding-bottom: 32px;

    color: var(--title-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

    transition: color var(--animation-dur);

}

.site-nav .link.current {
    color: var(--accent-color);

}

.site-nav .link:hover,
.site-nav .link:focus {
    color: var(--accent-color);

}

.site-nav .link::after{
    content: "";

    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--accent-color);
    opacity: 0;
    transition: opacity var(--animation-dur);
}


.site-nav .link:hover::after,
.site-nav .link:focus::after,
.site-nav .link.current::after {
    opacity: 1;
}

.address-nav.list {
    display: flex;
    margin-left: auto;
}

.address-nav .item + .item{
    margin-left: 50px;
}

.address-nav .link {
    display: flex;
    align-items: center;
    padding: 32px 0;

    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

    transition: color var(--animation-dur);
}

.address-nav .link:hover,
.address-nav .link:focus {
    color: var(--accent-color);
}

.address-nav .icon {
    margin-right: 10px;
    fill: currentColor;
} 

/* Hero */

.hero {
    max-width: 1600px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;

    background-image: linear-gradient( to right,  rgba(47, 48, 58, 0.4),  rgba(47, 48, 58, 0.4) ), url(../images/hero.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover ; 

    background-color: var(--bg-footer);
    text-align: center;
    padding-top: 200px;
    padding-bottom: 200px;      
}

.hero-title {
    margin-top: 0;
    margin-bottom: 30px;

    color: var(--primary-white-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.4;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}


/* section */

.section {
    padding: 94px 0;
}

.section-title {
    margin-top: 0;
    margin-bottom: 50px;
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    text-align: center;

}

/* Feature */

.feature {
    padding: 94px 0;
}

.feature-list {
    display: flex;
}

.feature-list .item {
    width: 270px;
}

.feature-list .item+.item {
    margin-left: 30px;
}

.feature-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 270px;
    height: 120px;
    background-color: var(--bg-team-section);
    border-radius: 4px;
    margin-bottom: 30px;

}

.feature-list .title {
    margin-top: 0;
    margin-bottom: 10px;
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
}

.feature-list .text {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
}

/* Working */

.section.working {
    padding-top: 0;
}

.working {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;

}

.working .item + .item {
    margin-left: 30px;
}

.working-thumb {
    position: relative;
    height: 294px;
}

.working-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.working-label {
    position: absolute;
    bottom: 0;
    margin: 0;
    padding: 27px 87px;
    height: 70px;
    width: 100%;
    background-color: var(--bg-label);

}

.working-text { 
    position: absolute;

    margin: 0;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    text-align: center;

    color: var(--primary-white-color);
}

/* Team */

.section.team {
    background-color: var(--bg-team-section);
}

.team-list {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
    margin-left: calc (-1 * var(--card-set)); 
}

.team-list .item {
    margin-left: var(--card-set);
    flex-basis: calc( 100% / 3 - var(--card-set));
    background-color: var(--primary-white-color);
    box-shadow: var(--card-shadow);
    border-radius: 0px 0px 4px 4px;
}

.team-list .thumb {
    height: 260px;
}

.team-list .thumb-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.team-size {
    padding: 30px 32px;
}

.team-list .title {
    margin: 0 0 10px 0;
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
}

.team-list .text {
    margin: 0 0 16px 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;

}

.socials-lists {
    display: flex;
}

.socials-links {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    color: var(--color-icons);
    margin: 0;
    cursor: pointer;
    transition: color var(--animation-dur), background-color var(--animation-dur) ;
}

.socials-items+.socials-items {
    margin-left: 10px;
}

.socials-links:hover,
.socials-links:focus {
    color: var(--primary-white-color);
    background-color: var(--accent-color);
}

.socials-lists .icons {
    fill: currentColor;
}


/* Button */
.btn-primary {
    display: inline-block;
    color: var(--primary-white-color);
    background-color: var(--accent-color);
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.06em; 
    text-align: center;

    border: 2px solid transparent;
    border-radius: 4px;
    padding: 10px 32px;
    min-width: 200px;

    cursor: pointer;

}

.btn-secondary {
    color: var(--title-text-color);
    background-color: var(--bg-button);
    font-family: inherit;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;

    border: 2px solid transparent;
    padding: 6px 22px;
    border-radius: 4px;

    cursor: pointer;

    transition: color var(--animation-dur), background-color var(--animation-dur);
}

.btn-secondary:hover,
.btn-secondary:focus {
    color: var(--primary-white-color);
    background-color: var(--accent-color);
    box-shadow: var(--page-nav-shadow);
}

/* Постоянные клиенты */

.client-list {
    display: flex;
    justify-content: space-between;
}

.client-link {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 90px;
    color: var(--color-icons);
    border: 1px solid var(--border-clients);
    border-radius: 4px;
    cursor: pointer;

    transition: color var(--animation-dur);
}

.client-link:hover, 
.client-link:focus {
    color: var(--accent-color);
    border-color: var(--accent-color);

}

.client-list .icon {
    fill: currentColor;
}

/* Footer */
.page-footer {
    padding: 60px 0;
    margin: 0;
    background-color: var(--bg-footer); 
}

.nav-footer {
    display: flex;
}

.logo-footer {
    display: block;
    margin-bottom: 20px;

    color: var(--primary-white-color);
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
}

.page-footer .link {
    display: block;
    margin-bottom: 9px;

    color: var(--primary-white-color);
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
}
.page-footer .title {
    display: block;

    color: var(--footer-text);
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    
}

.page-footer .title:nth-last-child(2){
    margin-bottom: 9px;
}

.join-footer {
    margin: 0 0 0 70px;
}

.footer-title {
    display: block;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--primary-white-color);
    margin: 0 0 20px 0;
}

.social-list {
    display: flex;
}

.social-list .link {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: var(--bg-icons);
    color: var(--primary-white-color);
    margin: 0;
    cursor: pointer;

    transition: background-color var(--animation-dur);
}

.social-list .item+.item {
    margin-left: 10px;
}

.social-list .link:hover,
.social-list .link:focus {
    background-color: var(--accent-color);
}

.social-list .icon {
    fill: currentColor;
}

/* Фильтер работ */

.work-nav {
    padding: 94px 0;
}

.page-nav {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.page-nav .item +.item {
    margin-left: 8px;

}

.page-nav .item {
    justify-content: center;
}

/* Work */

.work-list {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--card-set));
    margin-left: calc(-1 * var(--card-set));
}

.work-list .item {
    flex-basis: calc( 100% / 3 - var(--card-set));
    margin-left: var(--card-set);
    margin-top: var(--card-set);

    background-color: var(--primary-white-color);
    border: 1px solid var(--border-image);
    box-sizing: border-box;

    transition: box-shadow var(--animation-dur);
}

.thumb {
    position: relative;
    max-height: 294px;
}

.work-list .thumb-img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.work-list .item:focus, 
.work-list .item:hover {
    box-shadow: var(--work-shadow);
}

/* .work-list .item:nth-child(3n) {
    margin-right: 0;
}

.work-list .item:nth-last-child(-n+3) {
    margin-bottom: 0;
} */

.work-overlay {
    position: absolute;
    width: 100%;
    height: 294px;
    top: 0;
    left: 0;
    padding: 63px 24px;
    background-color: var(--bg-overlay);
}

.text-overlay {
    margin: 0;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.6;
    color: var(--primary-white-color);
}

.works-about {
    padding: 20px 24px;
}

.work-list .title {
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 2.0;
    letter-spacing: 0.06em;

    margin:0 0 4px 0;

}

.work-list .text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.87;

    margin: 0;
} 

/* Thumb */
.img {
    display: block;
    max-width: 100%;
    height: auto;
}

/* Modal */

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--bg-modal);

}

.backdrop.is-hidden {
    visibility: ;
    opacity: 0;
    pointer-events: none;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    min-height: 581px;
    min-width: 528px;
    background-color: var(--primary-white-color);
    padding: 30px;
}

.btn-close {
    position: absolute;
    top: 8px;
    right: 8px;
    padding: 0;
    border-radius: 50%;
    display: flex;
    
    border: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer; 
} 



